## Importación de librerías

In [1]:
# Librerías para análisis de datos y visualización
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest

# Configuración
pd.set_option('display.max_columns', None)

# Ignorar advertencias
import warnings
warnings.filterwarnings("ignore")

# Librerías para imputación de datos
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Para manejo de datos tipo JSON
import json

## Carga y exploración inicial del dataset

In [2]:
# Carga de datos
df_viajes = pd.read_csv("viajes.csv")

In [3]:
# Vista previa de los datos
df_viajes.head()

,id,city,country,region,short_description,latitude,longitude,avg_temp_monthly,ideal_durations,budget_level,culture,adventure,nature,beaches,nightlife,cuisine,wellness,urban,seclusion
0,c54acf38-3029-496b-8c7a-8343ad82785c,Milan,Italy,europe,"Chic streets lined with fashion boutiques, his...",45.464194,9.189635,"{""1"":{""avg"":3.7,""max"":7.8,""min"":0.4},""2"":{""avg...","[""Short trip"",""One week""]",Luxury,5,2,2,1,4,5,3,5,2
1,0bd12654-ed64-424e-a044-7bc574bcf078,Yasawa Islands,Fiji,oceania,"Crystal-clear waters, secluded beaches, and vi...",-17.290947,177.125786,"{""1"":{""avg"":28,""max"":30.8,""min"":25.8},""2"":{""av...","[""Long trip"",""One week""]",Luxury,2,4,5,5,2,3,4,1,5
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,north_america,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,"{""1"":{""avg"":-2.5,""max"":0.4,""min"":-5.5},""2"":{""a...","[""Short trip"",""Weekend"",""One week""]",Luxury,3,5,5,2,3,3,4,2,4
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,north_america,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,"{""1"":{""avg"":15.5,""max"":22.8,""min"":8.7},""2"":{""a...","[""Weekend"",""One week"",""Short trip""]",Mid-range,5,3,3,1,3,4,3,4,2
4,e1ebc1b6-8798-422d-847a-22016faff3fd,Surabaya,Indonesia,asia,Bustling streets filled with the aroma of loca...,-7.245972,112.737827,"{""1"":{""avg"":28.1,""max"":32.5,""min"":25.5},""2"":{""...","[""Short trip"",""Weekend""]",Budget,4,3,3,2,3,4,3,4,2

In [4]:
# Información general del dataset
df_viajes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 560 non-null    object
 1   city               560 non-null    object
 2   country            560 non-null    object
 3   region             560 non-null    object
 4   short_description  560 non-null    object
 5   latitude           560 non-null    float64
 6   longitude          560 non-null    float64
 7   avg_temp_monthly   560 non-null    object
 8   ideal_durations    560 non-null    object
 9   budget_level       560 non-null    object
 10  culture            560 non-null    int64
 11  adventure          560 non-null    int64
 12  nature             560 non-null    int64
 13  beaches            560 non-null    int64
 14  nightlife          560 non-null    int64
 15  cuisine            560 non-null    int64
 16  wellness           560 non-null    int64
 17  urban              560 non-null    int64
 18  seclusion          560 non-null    int64
dtypes: float64(2), int64(9), object(8)
memory usage: 83.3+ KB

In [5]:
# Dimensiones del dataset
df_viajes.shape

(560, 19)

## Distribución de variables numéricas y categóricas

In [6]:
# Distribución de variables numéricas
for col in df_viajes.select_dtypes(include='number'):
    print('-----------------------------')
    print(f"La distribución de las categorías para la columna {col.upper()}")
    print(df_viajes[col].nunique())
    print(df_viajes[col].value_counts(normalize=True))

-----------------------------
La distribución de las categorías para la columna LATITUDE
552
latitude
 50.061947    0.003571
 46.813743    0.003571
 40.712728    0.003571
 38.895037    0.003571
 43.213036    0.003571
                ...
-18.910012    0.001786
-6.159562     0.001786
 46.484302    0.001786
 54.596391    0.001786
-19.047725    0.001786
Name: proportion, Length: 552, dtype: float64
-----------------------------
La distribución de las categorías para la columna LONGITUDE
552
longitude
 19.936856    0.003571
-71.208406    0.003571
-74.006015    0.003571
-77.036543    0.003571
 2.349107     0.003571
                ...
 47.525581    0.001786
 39.200969    0.001786
 30.732288    0.001786
-5.930183     0.001786
-65.259431    0.001786
Name: proportion, Length: 552, dtype: float64
-----------------------------
La distribución de las categorías para la columna CULTURE
4
culture
4    0.425000
3    0.308929
5    0.230357
2    0.035714
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna ADVENTURE
4
adventure
3    0.498214
4    0.257143
2    0.189286
5    0.055357
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna NATURE
4
nature
3    0.382143
4    0.308929
5    0.242857
2    0.066071
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna BEACHES
5
beaches
1    0.394643
2    0.212500
3    0.144643
5    0.133929
4    0.114286
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna NIGHTLIFE
5
nightlife
3    0.451786
2    0.235714
4    0.212500
5    0.060714
1    0.039286
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna CUISINE
4
cuisine
4    0.550000
3    0.301786
5    0.130357
2    0.017857
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna WELLNESS
4
wellness
3    0.703571
4    0.155357
2    0.121429
5    0.019643
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna URBAN
5
urban
3    0.387500
4    0.253571
2    0.210714
5    0.100000
1    0.048214
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna SECLUSION
5
seclusion
2    0.366071
4    0.319643
3    0.241071
5    0.055357
1    0.017857
Name: proportion, dtype: float64

In [7]:
# Distribución de variables categóricas
for col in df_viajes.select_dtypes(include='object'):
    print('-----------------------------')
    print(f"La distribución de las categorías para la columna {col.upper()}")
    print(df_viajes[col].nunique())
    print(df_viajes[col].value_counts(normalize=True))

-----------------------------
La distribución de las categorías para la columna ID
560
id
c54acf38-3029-496b-8c7a-8343ad82785c    0.001786
12aa2887-b59c-4f3d-bad6-7b57dac21879    0.001786
acd5d99c-5303-4f22-b176-f67a87c7e59c    0.001786
29e3c666-7847-4ce2-a1ab-c4036a94b9db    0.001786
e79d9e7b-6fc0-43de-a4fd-df7874e6f754    0.001786
                                          ...
d9f5aa87-6ce6-4675-b55c-e64635035d90    0.001786
5eb2414d-ccc4-4665-b86a-f463c43a9c1b    0.001786
e90eff18-779e-4ad9-8f75-944a034c0600    0.001786
72a44cc1-8aff-4424-95a0-81afd9aa6db1    0.001786
62caf451-c399-4d64-a770-1efd93a603ef    0.001786
Name: proportion, Length: 560, dtype: float64
-----------------------------
La distribución de las categorías para la columna CITY
559
city
Granada          0.003571
Milan            0.001786
Cuenca           0.001786
Moroni           0.001786
Prague           0.001786
                   ...
Zanzibar Town    0.001786
Odessa           0.001786
Belfast          0.001786
Bangkok          0.001786
Sucre            0.001786
Name: proportion, Length: 559, dtype: float64
-----------------------------
La distribución de las categorías para la columna COUNTRY
167
country
United States    0.089286
Italy            0.033929
Australia        0.030357
Mexico           0.026786
France           0.026786
                   ...
Réunion          0.001786
Quebec           0.001786
Sierra Leone     0.001786
Paraguay         0.001786
Botswana         0.001786
Name: proportion, Length: 167, dtype: float64
-----------------------------
La distribución de las categorías para la columna REGION
7
region
europe           0.316071
north_america    0.185714
asia             0.176786
africa           0.112500
south_america    0.098214
oceania          0.091071
middle_east      0.019643
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna SHORT_DESCRIPTION
560
short_description
Chic streets lined with fashion boutiques, historic architecture, and lively piazzas create a sophisticated yet welcoming atmosphere, perfect for leisurely exploration.    0.001786
The awe-inspiring sight of ancient pyramids rising from the golden desert sands creates an atmosphere of timeless wonder and historical intrigue.                           0.001786
Cobblestone streets and Gothic architecture create a fairytale-like atmosphere, where historic charm and modern culture blend seamlessly along the river.                   0.001786
A dynamic blend of ancient history and modern innovation, with bustling markets, serene temples, and the aroma of sizzling street food.                                     0.001786
High-altitude streets filled with the scent of incense and the sound of prayer wheels create a serene yet vibrant atmosphere.                                               0.001786
                                                                                                                                                                              ...
Charming cobblestone streets, lively markets, and the gentle sea breeze create a relaxed yet vibrant atmosphere perfect for unwinding and exploring.                        0.001786
Cozy pubs, historic streets, and the lively spirit of its people create an inviting and culturally rich atmosphere full of stories.                                         0.001786
Busy streets filled with vibrant markets and aromatic street food stalls create an exhilarating atmosphere that's both chaotic and captivating.                             0.001786
Sun-drenched plazas, the aroma of orange blossoms, and the passionate rhythm of flamenco create an enchanting and lively atmosphere.                                        0.001786
Whitewashed colonial buildings, vibrant plazas, and a laid-back atmosphere invite you to wander cobblestone streets and soak in the rich history.                           0.001786
Name: proportion, Length: 560, dtype: float64
-----------------------------
La distribución de las categorías para la columna AVG_TEMP_MONTHLY
545
avg_temp_monthly
{"1":{"avg":28.5,"max":32.5,"min":25.2},"2":{"avg":28.8,"max":33.4,"min":25.5},"3":{"avg":28.8,"max":33.4,"min":25.5},"4":{"avg":27.5,"max":30.9,"min":25},"5":{"avg":27,"max":30.6,"min":24.6},"6":{"avg":26.5,"max":30.1,"min":23.5},"7":{"avg":25.7,"max":29.4,"min":22.8},"8":{"avg":25.6,"max":29.7,"min":22.2},"9":{"avg":26,"max":30.6,"min":22.4},"10":{"avg":26.8,"max":31.1,"min":23.1},"11":{"avg":27.4,"max":31.5,"min":24.2},"12":{"avg":28.1,"max":31.9,"min":24.9}}        0.005357
{"1":{"avg":27.5,"max":30.2,"min":25.2},"2":{"avg":28.1,"max":30.9,"min":25.8},"3":{"avg":28.7,"max":31.8,"min":26.2},"4":{"avg":28.7,"max":31.8,"min":26.1},"5":{"avg":28.5,"max":31.2,"min":26.2},"6":{"avg":27.5,"max":29.8,"min":25.6},"7":{"avg":26.4,"max":28.6,"min":24.7},"8":{"avg":26.4,"max":28.7,"min":24.7},"9":{"avg":27,"max":29.6,"min":25.1},"10":{"avg":27.7,"max":30.4,"min":25.5},"11":{"avg":27.7,"max":30.9,"min":25.2},"12":{"avg":27.6,"max":30.6,"min":25.3}}    0.003571
{"1":{"avg":26.8,"max":30.9,"min":22.2},"2":{"avg":27.2,"max":31.2,"min":23.1},"3":{"avg":27.4,"max":31.6,"min":24.8},"4":{"avg":27.2,"max":31.2,"min":24.7},"5":{"avg":26.9,"max":30.6,"min":23.9},"6":{"avg":26,"max":29.6,"min":22.8},"7":{"avg":25.5,"max":29.2,"min":22},"8":{"avg":25.3,"max":28.9,"min":22},"9":{"avg":25.7,"max":29.2,"min":22.2},"10":{"avg":26.1,"max":29.6,"min":22.9},"11":{"avg":27,"max":30.3,"min":23.8},"12":{"avg":27.3,"max":30.9,"min":23.7}}          0.003571
{"1":{"avg":0.1,"max":2.8,"min":-2.8},"2":{"avg":1,"max":3.7,"min":-1.8},"3":{"avg":1.6,"max":4.5,"min":-1},"4":{"avg":4.3,"max":7.5,"min":1.6},"5":{"avg":6.9,"max":10.2,"min":4},"6":{"avg":9.7,"max":12.9,"min":7},"7":{"avg":11.6,"max":14.9,"min":9.1},"8":{"avg":11.2,"max":14.5,"min":8.5},"9":{"avg":8.6,"max":11.6,"min":6},"10":{"avg":5.5,"max":8.2,"min":3.1},"11":{"avg":2.7,"max":5.1,"min":0.2},"12":{"avg":0.4,"max":2.9,"min":-2.4}}                                     0.003571
{"1":{"avg":15.9,"max":24.8,"min":7.4},"2":{"avg":15.9,"max":25,"min":7.6},"3":{"avg":12.6,"max":20.9,"min":4.9},"4":{"avg":8.8,"max":16.2,"min":2.8},"5":{"avg":5.4,"max":10.8,"min":0.1},"6":{"avg":3.1,"max":7.7,"min":-1.1},"7":{"avg":2.1,"max":6.9,"min":-2.3},"8":{"avg":3.5,"max":9.5,"min":-1.3},"9":{"avg":5.5,"max":11.9,"min":-0.2},"10":{"avg":8,"max":16.3,"min":1.8},"11":{"avg":11.5,"max":19.1,"min":4.7},"12":{"avg":14.2,"max":23.1,"min":5.8}}                        0.003571
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
{"1":{"avg":26.6,"max":32.9,"min":22.4},"2":{"avg":27,"max":33.8,"min":22.4},"3":{"avg":27.9,"max":35,"min":23},"4":{"avg":28,"max":34.7,"min":24},"5":{"avg":28.1,"max":33.8,"min":24.8},"6":{"avg":27.6,"max":32.4,"min":24.6},"7":{"avg":27,"max":31.5,"min":24.3},"8":{"avg":26.8,"max":31.1,"min":24},"9":{"avg":26.2,"max":30.7,"min":23.6},"10":{"avg":26.2,"max":31.4,"min":23.2},"11":{"avg":25.7,"max":30.9,"min":22.9},"12":{"avg":25.9,"max":31.3,"min":22.5}}                0.001786
{"1":{"avg":21.1,"max":26.9,"min":17.3},"2":{"avg":21.1,"max":27,"min":17.2},"3":{"avg":21,"max":26.9,"min":17.1},"4":{"avg":19.9,"max":26.2,"min":15.8},"5":{"avg":17.6,"max":23.9,"min":13.2},"6":{"avg":15.4,"max":21.4,"min":11.2},"7":{"avg":14.7,"max":21.2,"min":10},"8":{"avg":15.6,"max":22.6,"min":10.5},"9":{"avg":17.1,"max":24.4,"min":11.2},"10":{"avg":19.7,"max":27.4,"min":14},"11":{"avg":21,"max":28.4,"min":15.7},"12":{"avg":21.3,"max":27.9,"min":16.8}}            0.001786
{"1":{"avg":0.6,"max":3.8,"min":-2.2},"2":{"avg":2.3,"max":5.5,"min":-0.8},"3":{"avg":5.6,"max":9.3,"min":2.3},"4":{"avg":10.6,"max":14.2,"min":6.8},"5":{"avg":16.1,"max":20,"min":11.9},"6":{"avg":22,"max":26.7,"min":17.6},"7":{"avg":24.2,"max":29.4,"min":19.5},"8":{"avg":24.5,"max":29.5,"min":19.6},"9":{"avg":19.3,"max":23.9,"min":14.9},"10":{"avg":12.9,"max":16.7,"min":9.2},"11":{"avg":7,"max":10,"min":4.2},"12":{"avg":3.1,"max":5.7,"min":0.6}}                        0.001786
{"1":{"avg":5.4,"max":7.7,"min":3},"2":{"avg":5.8,"max":8.3,"min":3.2},"3":{"avg":6.3,"max":10.3,"min":3.8},"4":{"avg":8.4,"max":12.1,"min":5.2},"5":{"avg":11.7,"max":15.9,"min":8.2},"6":{"avg":14.3,"max":18.2,"min":11.3},"7":{"avg":15.4,"max":18.8,"min":12.4},"8":{"avg":15.4,"max":18.7,"min":12.4},"9":{"avg":13.6,"max":16.7,"min":10.8},"10":{"avg":10.8,"max":13.7,"min":8.1},"11":{"avg":7.8,"max":10.3,"min":5.3},"12":{"avg":6.6,"max":8.8,"min":4.3}}                     0.001786
{"1":{"avg":15.4,"max":19.8,"min":10.2},"2":{"avg":15.4,"max":19,"min":9.9},"3":{"avg":15.7,"max":19.6,"min":10.5},"4":{"avg":15.9,"max":21.1,"min":10.7},"5":{"avg":14.5,"max":22.1,"min":8.8},"6":{"avg":14.3,"max":21.7,"min":7},"7":{"avg":12.5,"max":17.8,"min":5.1},"8":{"avg":16.2,"max":22.5,"min":9.8},"9":{"avg":17.3,"max":23.3,"min":11},"10":{"avg":16.7,"max":23.6,"min":10.3},"11":{"avg":16.5,"max":23,"min":10.7},"12":{"avg":16.4,"max":20.3,"min":11.4}}               0.001786
Name: proportion, Length: 545, dtype: float64
-----------------------------
La distribución de las categorías para la columna IDEAL_DURATIONS
21
ideal_durations
["Short trip","Weekend","One week"]      0.214286
["Short trip","Weekend"]                 0.205357
["Weekend","One week","Short trip"]      0.094643
["Short trip","One week"]                0.087500
["One week","Short trip","Weekend"]      0.082143
["Short trip","One week","Weekend"]      0.069643
["One week","Short trip"]                0.066071
["Weekend","Short trip"]                 0.039286
["Long trip","One week","Short trip"]    0.025000
["Long trip","One week"]                 0.025000
["Short trip","One week","Long trip"]    0.017857
["One week","Weekend","Short trip"]      0.010714
["Weekend","Short trip","Day trip"]      0.008929
["One week","Long trip"]                 0.008929
["Long trip","Short trip","One week"]    0.008929
["Short trip","Long trip","One week"]    0.008929
["Short trip","Weekend","Day trip"]      0.007143
["Weekend","Day trip"]                   0.007143
["Day trip","Weekend","Short trip"]      0.005357
["Day trip","Weekend"]                   0.003571
["Weekend","Day trip","Short trip"]      0.003571
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna BUDGET_LEVEL
3
budget_level
Mid-range    0.605357
Budget       0.258929
Luxury       0.135714
Name: proportion, dtype: float64

## Transformación y limpieza de datos

In [8]:
# Convertir columna de string a diccionario
df_viajes['avg_temp_monthly'] = df_viajes['avg_temp_monthly'].apply(json.loads)

In [9]:
# Crear nuevo dataframe con temperaturas mensuales desglosadas
rows = []
for i, row in df_viajes.iterrows():
    id_val = row['id']
    monthly_dict = row['avg_temp_monthly']
    for month, temps in monthly_dict.items():
        rows.append({
            'id': id_val,
            'Month': int(month),
            'Avg': temps['avg'],
            'Max': temps['max'],
            'Min': temps['min']
        })

df_monthly = pd.DataFrame(rows)

In [10]:
# Vista general del nuevo dataframe
df_monthly.head()

                                     id  Month   Avg   Max   Min
0  c54acf38-3029-496b-8c7a-8343ad82785c      1   3.7   7.8   0.4
1  c54acf38-3029-496b-8c7a-8343ad82785c      2   7.1  12.0   2.8
2  c54acf38-3029-496b-8c7a-8343ad82785c      3  10.5  15.5   5.5
3  c54acf38-3029-496b-8c7a-8343ad82785c      4  13.8  18.9   8.7
4  c54acf38-3029-496b-8c7a-8343ad82785c      5  17.9  22.5  13.4

In [11]:
# Estadísticas descriptivas
df_monthly.describe().T

        count       mean       std   min    25%    50%    75%   max
Month  6720.0   6.500000  3.452309   1.0   3.75   6.50   9.25  12.0
Avg    6720.0  17.966071  8.934916 -22.1  11.80  19.30  25.80  40.2
Max    6720.0  22.688958  9.257218 -14.8  16.70  24.55  30.20  47.0
Min    6720.0  13.747426  9.003137 -23.7   7.20  14.50  21.70  33.4

In [12]:
# Dimensiones del nuevo dataset
df_monthly.shape

(6720, 5)

In [13]:
# Corrección de comas y puntos en variables numéricas
df_monthly['Min'] = df_monthly['Min'].astype(str).str.replace('.', ',', regex=False)
df_monthly['Max'] = df_monthly['Max'].astype(str).str.replace('.', ',', regex=False)
df_monthly['Avg'] = df_monthly['Avg'].astype(str).str.replace('.', ',', regex=False)

In [14]:
# Revisión
df_monthly.head()

                                     id  Month   Avg   Max   Min
0  c54acf38-3029-496b-8c7a-8343ad82785c      1   3,7   7,8   0,4
1  c54acf38-3029-496b-8c7a-8343ad82785c      2   7,1  12,0   2,8
2  c54acf38-3029-496b-8c7a-8343ad82785c      3  10,5  15,5   5,5
3  c54acf38-3029-496b-8c7a-8343ad82785c      4  13,8  18,9   8,7
4  c54acf38-3029-496b-8c7a-8343ad82785c      5  17,9  22,5  13,4

In [15]:
# Guardar como CSV
df_monthly.to_csv("monthly_temp.csv",index=False)

In [16]:
# Convertir la columna de listas como texto a listas reales
df_viajes['ideal_durations_list'] = df_viajes['ideal_durations'].apply(lambda x: json.loads(x))
# Definir las duraciones a evaluar
durations = ["Weekend", "Short trip", "One week", "Long trip", "Day trip"]
# Crear columnas con "Sí" o "No" por cada duración
for duration in durations:
    col_name = f'{duration.lower().replace(" ", "_")}'
    df_viajes[col_name] = df_viajes['ideal_durations_list'].apply(
        lambda x: "Sí" if duration in x else "No"
    )
# Crear una tabla con solo la ciudad y las nuevas columnas de duración
duration_flags = df_viajes[['id'] + [f'{d.lower().replace(" ", "_")}' for d in durations]]

In [17]:
# Revisión
df_viajes.head()

,id,city,country,region,short_description,latitude,longitude,avg_temp_monthly,ideal_durations,budget_level,culture,adventure,nature,beaches,nightlife,cuisine,wellness,urban,seclusion,ideal_durations_list,weekend,short_trip,one_week,long_trip,day_trip
0,c54acf38-3029-496b-8c7a-8343ad82785c,Milan,Italy,europe,"Chic streets lined with fashion boutiques, his...",45.464194,9.189635,"{'1': {'avg': 3.7, 'max': 7.8, 'min': 0.4}, '2...","[""Short trip"",""One week""]",Luxury,5,2,2,1,4,5,3,5,2,"[Short trip, One week]",No,Sí,Sí,No,No
1,0bd12654-ed64-424e-a044-7bc574bcf078,Yasawa Islands,Fiji,oceania,"Crystal-clear waters, secluded beaches, and vi...",-17.290947,177.125786,"{'1': {'avg': 28, 'max': 30.8, 'min': 25.8}, '...","[""Long trip"",""One week""]",Luxury,2,4,5,5,2,3,4,1,5,"[Long trip, One week]",No,No,Sí,Sí,No
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,north_america,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,"{'1': {'avg': -2.5, 'max': 0.4, 'min': -5.5}, ...","[""Short trip"",""Weekend"",""One week""]",Luxury,3,5,5,2,3,3,4,2,4,"[Short trip, Weekend, One week]",Sí,Sí,Sí,No,No
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,north_america,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,"{'1': {'avg': 15.5, 'max': 22.8, 'min': 8.7}, ...","[""Weekend"",""One week"",""Short trip""]",Mid-range,5,3,3,1,3,4,3,4,2,"[Weekend, One week, Short trip]",Sí,Sí,Sí,No,No
4,e1ebc1b6-8798-422d-847a-22016faff3fd,Surabaya,Indonesia,asia,Bustling streets filled with the aroma of loca...,-7.245972,112.737827,"{'1': {'avg': 28.1, 'max': 32.5, 'min': 25.5},...","[""Short trip"",""Weekend""]",Budget,4,3,3,2,3,4,3,4,2,"[Short trip, Weekend]",Sí,Sí,No,No,No

In [24]:
# Eliminamos sólo las columnas que estén presentes en el DataFrame
cols_a_eliminar = [
    "avg_temp_monthly", "ideal_durations", "ideal_durations_list",
    "duration_weekend", "duration_short_trip", "duration_one_week",
    "duration_long_trip", "duration_day_trip"
]
df_viajes.drop(columns=[col for col in cols_a_eliminar if col in df_viajes.columns], inplace=True)

In [25]:
# Revisión
df_viajes.head()

,id,city,country,region,short_description,latitude,longitude,budget_level,culture,adventure,nature,beaches,nightlife,cuisine,wellness,urban,seclusion,weekend,short_trip,one_week,long_trip,day_trip
0,c54acf38-3029-496b-8c7a-8343ad82785c,Milan,Italy,Europe,"Chic streets lined with fashion boutiques, his...",45.464194,9.189635,Luxury,5,2,2,1,4,5,3,5,2,No,Sí,Sí,No,No
1,0bd12654-ed64-424e-a044-7bc574bcf078,Yasawa Islands,Fiji,Oceania,"Crystal-clear waters, secluded beaches, and vi...",-17.290947,177.125786,Luxury,2,4,5,5,2,3,4,1,5,No,No,Sí,Sí,No
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,North America,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,Luxury,3,5,5,2,3,3,4,2,4,Sí,Sí,Sí,No,No
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,North America,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,Mid-range,5,3,3,1,3,4,3,4,2,Sí,Sí,Sí,No,No
4,e1ebc1b6-8798-422d-847a-22016faff3fd,Surabaya,Indonesia,Asia,Bustling streets filled with the aroma of loca...,-7.245972,112.737827,Budget,4,3,3,2,3,4,3,4,2,Sí,Sí,No,No,No

In [26]:
# Limpiamos el formato de los nombres de región: reemplazamos guiones bajos por espacios y aplicamos formato título
df_viajes['region'] = df_viajes['region'].str.replace('_', ' ').str.title()

In [27]:
# Verificamos los cambios
df_viajes.head()

,id,city,country,region,short_description,latitude,longitude,budget_level,culture,adventure,nature,beaches,nightlife,cuisine,wellness,urban,seclusion,weekend,short_trip,one_week,long_trip,day_trip
0,c54acf38-3029-496b-8c7a-8343ad82785c,Milan,Italy,Europe,"Chic streets lined with fashion boutiques, his...",45.464194,9.189635,Luxury,5,2,2,1,4,5,3,5,2,No,Sí,Sí,No,No
1,0bd12654-ed64-424e-a044-7bc574bcf078,Yasawa Islands,Fiji,Oceania,"Crystal-clear waters, secluded beaches, and vi...",-17.290947,177.125786,Luxury,2,4,5,5,2,3,4,1,5,No,No,Sí,Sí,No
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,North America,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,Luxury,3,5,5,2,3,3,4,2,4,Sí,Sí,Sí,No,No
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,North America,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,Mid-range,5,3,3,1,3,4,3,4,2,Sí,Sí,Sí,No,No
4,e1ebc1b6-8798-422d-847a-22016faff3fd,Surabaya,Indonesia,Asia,Bustling streets filled with the aroma of loca...,-7.245972,112.737827,Budget,4,3,3,2,3,4,3,4,2,Sí,Sí,No,No,No

In [28]:
# Guardamos el dataframe final en un archivo CSV
df_viajes.to_csv("travel_info.csv",index=False)