In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings("ignore")

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

In [3]:
import json

In [4]:
df_viajes=pd.read_csv("viajes.csv")

In [5]:
df_viajes.head()

,id,city,country,region,short_description,latitude,longitude,avg_temp_monthly,ideal_durations,budget_level,culture,adventure,nature,beaches,nightlife,cuisine,wellness,urban,seclusion
0,c54acf38-3029-496b-8c7a-8343ad82785c,Milan,Italy,europe,"Chic streets lined with fashion boutiques, his...",45.464194,9.189635,"{""1"":{""avg"":3.7,""max"":7.8,""min"":0.4},""2"":{""avg...","[""Short trip"",""One week""]",Luxury,5,2,2,1,4,5,3,5,2
1,0bd12654-ed64-424e-a044-7bc574bcf078,Yasawa Islands,Fiji,oceania,"Crystal-clear waters, secluded beaches, and vi...",-17.290947,177.125786,"{""1"":{""avg"":28,""max"":30.8,""min"":25.8},""2"":{""av...","[""Long trip"",""One week""]",Luxury,2,4,5,5,2,3,4,1,5
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,north_america,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,"{""1"":{""avg"":-2.5,""max"":0.4,""min"":-5.5},""2"":{""a...","[""Short trip"",""Weekend"",""One week""]",Luxury,3,5,5,2,3,3,4,2,4
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,north_america,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,"{""1"":{""avg"":15.5,""max"":22.8,""min"":8.7},""2"":{""a...","[""Weekend"",""One week"",""Short trip""]",Mid-range,5,3,3,1,3,4,3,4,2
4,e1ebc1b6-8798-422d-847a-22016faff3fd,Surabaya,Indonesia,asia,Bustling streets filled with the aroma of loca...,-7.245972,112.737827,"{""1"":{""avg"":28.1,""max"":32.5,""min"":25.5},""2"":{""...","[""Short trip"",""Weekend""]",Budget,4,3,3,2,3,4,3,4,2

In [6]:
df_viajes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 560 non-null    object
 1   city               560 non-null    object
 2   country            560 non-null    object
 3   region             560 non-null    object
 4   short_description  560 non-null    object
 5   latitude           560 non-null    float64
 6   longitude          560 non-null    float64
 7   avg_temp_monthly   560 non-null    object
 8   ideal_durations    560 non-null    object
 9   budget_level       560 non-null    object
 10  culture            560 non-null    int64
 11  adventure          560 non-null    int64
 12  nature             560 non-null    int64
 13  beaches            560 non-null    int64
 14  nightlife          560 non-null    int64
 15  cuisine            560 non-null    int64
 16  wellness           560 non-null    int64
 17  urban              560 non-null    int64
 18  seclusion          560 non-null    int64
dtypes: float64(2), int64(9), object(8)
memory usage: 83.3+ KB

In [7]:
df_viajes.shape

(560, 19)

In [37]:
for col in df_viajes.select_dtypes(include='number'):
    print('-----------------------------')
    print(f"La distribución de las categorías para la columna {col.upper()}")
    print(df_viajes[col].nunique())
    print(df_viajes[col].value_counts(normalize=True))

-----------------------------
La distribución de las categorías para la columna LATITUDE
552
latitude
 50.061947    0.003571
 38.895037    0.003571
 40.712728    0.003571
 64.145981    0.003571
 46.813743    0.003571
                ...
-19.986095    0.001786
 57.707233    0.001786
 53.479489    0.001786
 55.686724    0.001786
-20.354626    0.001786
Name: proportion, Length: 552, dtype: float64
-----------------------------
La distribución de las categorías para la columna LONGITUDE
552
longitude
 19.936856     0.003571
-77.036543     0.003571
-74.006015     0.003571
-21.942237     0.003571
-71.208406     0.003571
                 ...
 23.422435     0.001786
 11.967017     0.001786
-2.245115      0.001786
 12.570072     0.001786
 148.956052    0.001786
Name: proportion, Length: 552, dtype: float64
-----------------------------
La distribución de las categorías para la columna CULTURE
4
culture
4    0.425000
3    0.308929
5    0.230357
2    0.035714
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna ADVENTURE
4
adventure
3    0.498214
4    0.257143
2    0.189286
5    0.055357
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna NATURE
4
nature
3    0.382143
4    0.308929
5    0.242857
2    0.066071
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna BEACHES
5
beaches
1    0.394643
2    0.212500
3    0.144643
5    0.133929
4    0.114286
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna NIGHTLIFE
5
nightlife
3    0.451786
2    0.235714
4    0.212500
5    0.060714
1    0.039286
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna CUISINE
4
cuisine
4    0.550000
3    0.301786
5    0.130357
2    0.017857
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna WELLNESS
4
wellness
3    0.703571
4    0.155357
2    0.121429
5    0.019643
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna URBAN
5
urban
3    0.387500
4    0.253571
2    0.210714
5    0.100000
1    0.048214
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna SECLUSION
5
seclusion
2    0.366071
4    0.319643
3    0.241071
5    0.055357
1    0.017857
Name: proportion, dtype: float64

In [8]:
for col in df_viajes.select_dtypes(include='object'):
    print('-----------------------------')
    print(f"La distribución de las categorías para la columna {col.upper()}")
    print(df_viajes[col].nunique())
    print(df_viajes[col].value_counts(normalize=True))

-----------------------------
La distribución de las categorías para la columna ID
560
id
62caf451-c399-4d64-a770-1efd93a603ef    0.001786
c54acf38-3029-496b-8c7a-8343ad82785c    0.001786
0bd12654-ed64-424e-a044-7bc574bcf078    0.001786
73036cda-9134-46fc-a2c6-807782d59dfb    0.001786
3872c9c0-6b6e-49e1-9743-f46bfe591b86    0.001786
                                          ...
630b0ecb-8651-476e-803d-b65f99f342a3    0.001786
0d1ac2c5-e3d5-40b5-ad56-01f3d67710ab    0.001786
955899e4-7ccb-4b6a-a85c-a9b73efe6876    0.001786
57239ab4-5376-4b81-a35e-fc8a27fb5812    0.001786
6d8f232e-d34d-4dac-95c4-e01d7983124c    0.001786
Name: proportion, Length: 560, dtype: float64
-----------------------------
La distribución de las categorías para la columna CITY
559
city
Granada       0.003571
Guanajuato    0.001786
Surabaya      0.001786
Nuuk          0.001786
Windhoek      0.001786
                ...
Maun          0.001786
Gothenburg    0.001786
Manchester    0.001786
Copenhagen    0.001786
Whistler      0.001786
Name: proportion, Length: 559, dtype: float64
-----------------------------
La distribución de las categorías para la columna COUNTRY
167
country
United States    0.089286
Italy            0.033929
Australia        0.030357
Mexico           0.026786
France           0.026786
                   ...
Zimbabwe         0.001786
Tuvalu           0.001786
Iran             0.001786
Kuwait           0.001786
Botswana         0.001786
Name: proportion, Length: 167, dtype: float64
-----------------------------
La distribución de las categorías para la columna REGION
7
region
europe           0.316071
north_america    0.185714
asia             0.176786
africa           0.112500
south_america    0.098214
oceania          0.091071
middle_east      0.019643
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna SHORT_DESCRIPTION
560
short_description
Whitewashed colonial buildings, vibrant plazas, and a laid-back atmosphere invite you to wander cobblestone streets and soak in the rich history.                           0.001786
Chic streets lined with fashion boutiques, historic architecture, and lively piazzas create a sophisticated yet welcoming atmosphere, perfect for leisurely exploration.    0.001786
Crystal-clear waters, secluded beaches, and vibrant coral reefs create a serene paradise perfect for unwinding and immersing in natural beauty.                             0.001786
Snow-capped peaks and lush forests create a serene escape, where outdoor adventures meet cozy village vibes and crisp mountain air.                                         0.001786
Winding cobblestone streets and colorful facades create a charming, vibrant atmosphere, where history and lively festivals fill the air with excitement.                    0.001786
                                                                                                                                                                              ...
Tree-lined streets and historic architecture mix with modern art scenes and vibrant food markets, offering a warm, welcoming southern charm.                                0.001786
Charming wooden houses, crisp Nordic air, and a vibrant student atmosphere create a cozy yet lively vibe that's both welcoming and invigorating.                            0.001786
Cobblestone streets lined with medieval architecture and the aroma of fresh waffles create a charming and nostalgic atmosphere, perfect for leisurely exploration.          0.001786
Colorful rooftops, crisp sea air, and the allure of geothermal pools create a unique blend of natural beauty and urban charm.                                               0.001786
A dynamic blend of futuristic skyscrapers and ancient palaces, bustling markets, and tranquil parks, creating an energetic yet harmonious urban experience.                 0.001786
Name: proportion, Length: 560, dtype: float64
-----------------------------
La distribución de las categorías para la columna AVG_TEMP_MONTHLY
545
avg_temp_monthly
{"1":{"avg":28.5,"max":32.5,"min":25.2},"2":{"avg":28.8,"max":33.4,"min":25.5},"3":{"avg":28.8,"max":33.4,"min":25.5},"4":{"avg":27.5,"max":30.9,"min":25},"5":{"avg":27,"max":30.6,"min":24.6},"6":{"avg":26.5,"max":30.1,"min":23.5},"7":{"avg":25.7,"max":29.4,"min":22.8},"8":{"avg":25.6,"max":29.7,"min":22.2},"9":{"avg":26,"max":30.6,"min":22.4},"10":{"avg":26.8,"max":31.1,"min":23.1},"11":{"avg":27.4,"max":31.5,"min":24.2},"12":{"avg":28.1,"max":31.9,"min":24.9}}    0.005357
{"1":{"avg":22.5,"max":27.2,"min":20},"2":{"avg":21.6,"max":26.3,"min":19.1},"3":{"avg":21.4,"max":25.3,"min":18.8},"4":{"avg":22,"max":25.9,"min":19.7},"5":{"avg":23.3,"max":27.1,"min":21.5},"6":{"avg":26.1,"max":29.2,"min":24},"7":{"avg":27.6,"max":30.5,"min":25.6},"8":{"avg":28.1,"max":30.8,"min":25.9},"9":{"avg":28.1,"max":30.9,"min":25.4},"10":{"avg":28.5,"max":31.6,"min":25.7},"11":{"avg":26.8,"max":30.5,"min":23.9},"12":{"avg":24.5,"max":29,"min":21.8}}      0.003571
{"1":{"avg":0.1,"max":2.8,"min":-2.8},"2":{"avg":1,"max":3.7,"min":-1.8},"3":{"avg":1.6,"max":4.5,"min":-1},"4":{"avg":4.3,"max":7.5,"min":1.6},"5":{"avg":6.9,"max":10.2,"min":4},"6":{"avg":9.7,"max":12.9,"min":7},"7":{"avg":11.6,"max":14.9,"min":9.1},"8":{"avg":11.2,"max":14.5,"min":8.5},"9":{"avg":8.6,"max":11.6,"min":6},"10":{"avg":5.5,"max":8.2,"min":3.1},"11":{"avg":2.7,"max":5.1,"min":0.2},"12":{"avg":0.4,"max":2.9,"min":-2.4}}                                 0.003571
{"1":{"avg":3.3,"max":7.5,"min":-0.6},"2":{"avg":5.2,"max":10.1,"min":0.7},"3":{"avg":9.3,"max":14.7,"min":4.5},"4":{"avg":14.9,"max":20.4,"min":9.6},"5":{"avg":19.7,"max":24.8,"min":15},"6":{"avg":24.8,"max":29.8,"min":20},"7":{"avg":27.5,"max":32.4,"min":23.1},"8":{"avg":26.4,"max":31.2,"min":22.1},"9":{"avg":23,"max":27.7,"min":18.7},"10":{"avg":16.8,"max":21.8,"min":12.2},"11":{"avg":10.4,"max":15.2,"min":5.7},"12":{"avg":6.2,"max":10.5,"min":2.2}}              0.003571
{"1":{"avg":1.3,"max":5.1,"min":-2.4},"2":{"avg":3,"max":7,"min":-1},"3":{"avg":6.6,"max":11.4,"min":2},"4":{"avg":12,"max":16.7,"min":7.6},"5":{"avg":17.5,"max":22.4,"min":13.1},"6":{"avg":22.5,"max":27.3,"min":18.1},"7":{"avg":26.1,"max":30.7,"min":22},"8":{"avg":25.2,"max":29.6,"min":21.4},"9":{"avg":21.7,"max":26.1,"min":17.8},"10":{"avg":15.6,"max":20,"min":11.5},"11":{"avg":9.3,"max":13.5,"min":5.2},"12":{"avg":4.4,"max":8,"min":0.7}}                          0.003571
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...
{"1":{"avg":26.6,"max":32,"min":21.2},"2":{"avg":26.1,"max":31.5,"min":20.7},"3":{"avg":25.3,"max":30.5,"min":20.1},"4":{"avg":23.6,"max":28.8,"min":18.4},"5":{"avg":20.7,"max":25.9,"min":15.5},"6":{"avg":17.7,"max":23,"min":12.4},"7":{"avg":17.5,"max":22.8,"min":12.2},"8":{"avg":21.4,"max":26.7,"min":16.1},"9":{"avg":25.3,"max":30.5,"min":20.1},"10":{"avg":29.3,"max":34.8,"min":23.8},"11":{"avg":28.7,"max":34.2,"min":23.2},"12":{"avg":27.5,"max":33,"min":22}}      0.001786
{"1":{"avg":1.4,"max":3.2,"min":-1.2},"2":{"avg":1.5,"max":3.6,"min":-0.9},"3":{"avg":3.7,"max":6,"min":1.5},"4":{"avg":7.5,"max":11.3,"min":3.1},"5":{"avg":12.1,"max":16.4,"min":8.1},"6":{"avg":16.5,"max":20.7,"min":12.8},"7":{"avg":17.4,"max":20.6,"min":14.3},"8":{"avg":17.4,"max":20.6,"min":13.9},"9":{"avg":14.5,"max":17.9,"min":11.5},"10":{"avg":9.7,"max":12,"min":7},"11":{"avg":5.5,"max":7.2,"min":3.1},"12":{"avg":2.9,"max":4.6,"min":0.8}}                      0.001786
{"1":{"avg":4.7,"max":7.1,"min":2},"2":{"avg":5.7,"max":8.6,"min":3},"3":{"avg":6.4,"max":9.5,"min":3.5},"4":{"avg":8.9,"max":13,"min":4.4},"5":{"avg":12.4,"max":16.8,"min":8.1},"6":{"avg":15.3,"max":19.5,"min":10.9},"7":{"avg":16.6,"max":20.6,"min":12.8},"8":{"avg":16.3,"max":20,"min":12.5},"9":{"avg":14.1,"max":17.8,"min":10.4},"10":{"avg":11.1,"max":14.1,"min":8},"11":{"avg":7.5,"max":10.1,"min":4.7},"12":{"avg":6.2,"max":8.5,"min":3.7}}                          0.001786
{"1":{"avg":2.6,"max":4.2,"min":0.6},"2":{"avg":2.9,"max":4.9,"min":0.9},"3":{"avg":5.3,"max":7.3,"min":2.3},"4":{"avg":7.8,"max":11.3,"min":4.5},"5":{"avg":12.8,"max":16.7,"min":8.8},"6":{"avg":17.3,"max":21,"min":13.4},"7":{"avg":18.1,"max":21.6,"min":14.6},"8":{"avg":18.4,"max":21.8,"min":14.9},"9":{"avg":15.4,"max":18.4,"min":12.3},"10":{"avg":10.9,"max":13,"min":8.6},"11":{"avg":6.8,"max":8.4,"min":4.8},"12":{"avg":4.4,"max":5.8,"min":2.7}}                     0.001786
{"1":{"avg":10.6,"max":14.7,"min":8},"2":{"avg":11.3,"max":15.4,"min":8.2},"3":{"avg":13.1,"max":16.7,"min":9},"4":{"avg":17.2,"max":21.5,"min":12.8},"5":{"avg":21.3,"max":26.2,"min":16.9},"6":{"avg":26.1,"max":32,"min":22.2},"7":{"avg":29.5,"max":35.2,"min":25.5},"8":{"avg":29.2,"max":34.6,"min":25},"9":{"avg":25.1,"max":30.2,"min":21.2},"10":{"avg":20.4,"max":25.2,"min":17.4},"11":{"avg":16.4,"max":20.4,"min":13.7},"12":{"avg":12.4,"max":16.3,"min":10.3}}         0.001786
Name: proportion, Length: 545, dtype: float64
-----------------------------
La distribución de las categorías para la columna IDEAL_DURATIONS
21
ideal_durations
["Short trip","Weekend","One week"]      0.214286
["Short trip","Weekend"]                 0.205357
["Weekend","One week","Short trip"]      0.094643
["Short trip","One week"]                0.087500
["One week","Short trip","Weekend"]      0.082143
["Short trip","One week","Weekend"]      0.069643
["One week","Short trip"]                0.066071
["Weekend","Short trip"]                 0.039286
["Long trip","One week"]                 0.025000
["Long trip","One week","Short trip"]    0.025000
["Short trip","One week","Long trip"]    0.017857
["One week","Weekend","Short trip"]      0.010714
["Weekend","Short trip","Day trip"]      0.008929
["Short trip","Long trip","One week"]    0.008929
["One week","Long trip"]                 0.008929
["Long trip","Short trip","One week"]    0.008929
["Short trip","Weekend","Day trip"]      0.007143
["Weekend","Day trip"]                   0.007143
["Day trip","Weekend","Short trip"]      0.005357
["Day trip","Weekend"]                   0.003571
["Weekend","Day trip","Short trip"]      0.003571
Name: proportion, dtype: float64
-----------------------------
La distribución de las categorías para la columna BUDGET_LEVEL
3
budget_level
Mid-range    0.605357
Budget       0.258929
Luxury       0.135714
Name: proportion, dtype: float64

In [9]:
df_viajes['avg_temp_monthly'] = df_viajes['avg_temp_monthly'].apply(json.loads)

In [10]:
rows = []
for i, row in df_viajes.iterrows():
    id_val = row['id']
    monthly_dict = row['avg_temp_monthly']
    for month, temps in monthly_dict.items():
        rows.append({
            'id': id_val,
            'Month': int(month),
            'Avg': temps['avg'],
            'Max': temps['max'],
            'Min': temps['min']
        })

df_monthly = pd.DataFrame(rows)

In [11]:
df_monthly.head()

                                     id  Month   Avg   Max   Min
0  c54acf38-3029-496b-8c7a-8343ad82785c      1   3.7   7.8   0.4
1  c54acf38-3029-496b-8c7a-8343ad82785c      2   7.1  12.0   2.8
2  c54acf38-3029-496b-8c7a-8343ad82785c      3  10.5  15.5   5.5
3  c54acf38-3029-496b-8c7a-8343ad82785c      4  13.8  18.9   8.7
4  c54acf38-3029-496b-8c7a-8343ad82785c      5  17.9  22.5  13.4

In [28]:
df_monthly.describe().T

        count       mean       std   min    25%    50%    75%   max
Month  6720.0   6.500000  3.452309   1.0   3.75   6.50   9.25  12.0
Avg    6720.0  17.966071  8.934916 -22.1  11.80  19.30  25.80  40.2
Max    6720.0  22.688958  9.257218 -14.8  16.70  24.55  30.20  47.0
Min    6720.0  13.747426  9.003137 -23.7   7.20  14.50  21.70  33.4

In [12]:
df_monthly.shape

(6720, 5)

In [31]:
df_monthly['Min'] = df_monthly['Min'].astype(str).str.replace('.', ',', regex=False)

In [34]:
df_monthly['Max'] = df_monthly['Max'].astype(str).str.replace('.', ',', regex=False)

In [35]:
df_monthly['Avg'] = df_monthly['Avg'].astype(str).str.replace('.', ',', regex=False)

In [32]:
df_monthly.head()

                                     id  Month   Avg   Max   Min
0  c54acf38-3029-496b-8c7a-8343ad82785c      1   3.7   7.8   0,4
1  c54acf38-3029-496b-8c7a-8343ad82785c      2   7.1  12.0   2,8
2  c54acf38-3029-496b-8c7a-8343ad82785c      3  10.5  15.5   5,5
3  c54acf38-3029-496b-8c7a-8343ad82785c      4  13.8  18.9   8,7
4  c54acf38-3029-496b-8c7a-8343ad82785c      5  17.9  22.5  13,4

In [36]:
df_monthly.to_csv("monthly_temp.csv",index=False)

In [17]:
# Convertir la columna de listas como texto a listas reales
df_viajes['ideal_durations_list'] = df_viajes['ideal_durations'].apply(lambda x: json.loads(x))
# Definir las duraciones a evaluar
durations = ["Weekend", "Short trip", "One week", "Long trip", "Day trip"]
# Crear columnas con "Sí" o "No" por cada duración
for duration in durations:
    col_name = f'{duration.lower().replace(" ", "_")}'
    df_viajes[col_name] = df_viajes['ideal_durations_list'].apply(
        lambda x: "Sí" if duration in x else "No"
    )
# Crear una tabla con solo la ciudad y las nuevas columnas de duración
duration_flags = df_viajes[['id'] + [f'{d.lower().replace(" ", "_")}' for d in durations]]

In [18]:
df_viajes.head()

,id,city,country,region,short_description,latitude,longitude,avg_temp_monthly,ideal_durations,budget_level,culture,adventure,nature,beaches,nightlife,cuisine,wellness,urban,seclusion,ideal_durations_list,duration_weekend,duration_short_trip,duration_one_week,duration_long_trip,duration_day_trip,weekend,short_trip,one_week,long_trip,day_trip
0,c54acf38-3029-496b-8c7a-8343ad82785c,Milan,Italy,europe,"Chic streets lined with fashion boutiques, his...",45.464194,9.189635,"{'1': {'avg': 3.7, 'max': 7.8, 'min': 0.4}, '2...","[""Short trip"",""One week""]",Luxury,5,2,2,1,4,5,3,5,2,"[Short trip, One week]",No,Sí,Sí,No,No,No,Sí,Sí,No,No
1,0bd12654-ed64-424e-a044-7bc574bcf078,Yasawa Islands,Fiji,oceania,"Crystal-clear waters, secluded beaches, and vi...",-17.290947,177.125786,"{'1': {'avg': 28, 'max': 30.8, 'min': 25.8}, '...","[""Long trip"",""One week""]",Luxury,2,4,5,5,2,3,4,1,5,"[Long trip, One week]",No,No,Sí,Sí,No,No,No,Sí,Sí,No
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,north_america,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,"{'1': {'avg': -2.5, 'max': 0.4, 'min': -5.5}, ...","[""Short trip"",""Weekend"",""One week""]",Luxury,3,5,5,2,3,3,4,2,4,"[Short trip, Weekend, One week]",Sí,Sí,Sí,No,No,Sí,Sí,Sí,No,No
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,north_america,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,"{'1': {'avg': 15.5, 'max': 22.8, 'min': 8.7}, ...","[""Weekend"",""One week"",""Short trip""]",Mid-range,5,3,3,1,3,4,3,4,2,"[Weekend, One week, Short trip]",Sí,Sí,Sí,No,No,Sí,Sí,Sí,No,No
4,e1ebc1b6-8798-422d-847a-22016faff3fd,Surabaya,Indonesia,asia,Bustling streets filled with the aroma of loca...,-7.245972,112.737827,"{'1': {'avg': 28.1, 'max': 32.5, 'min': 25.5},...","[""Short trip"",""Weekend""]",Budget,4,3,3,2,3,4,3,4,2,"[Short trip, Weekend]",Sí,Sí,No,No,No,Sí,Sí,No,No,No

In [20]:
df_viajes.drop(columns=["avg_temp_monthly", "ideal_durations", "ideal_durations_list", "duration_weekend", "duration_short_trip", "duration_one_week", "duration_long_trip","duration_day_trip"],inplace=True)

In [21]:
df_viajes.head()

,id,city,country,region,short_description,latitude,longitude,budget_level,culture,adventure,nature,beaches,nightlife,cuisine,wellness,urban,seclusion,weekend,short_trip,one_week,long_trip,day_trip
0,c54acf38-3029-496b-8c7a-8343ad82785c,Milan,Italy,europe,"Chic streets lined with fashion boutiques, his...",45.464194,9.189635,Luxury,5,2,2,1,4,5,3,5,2,No,Sí,Sí,No,No
1,0bd12654-ed64-424e-a044-7bc574bcf078,Yasawa Islands,Fiji,oceania,"Crystal-clear waters, secluded beaches, and vi...",-17.290947,177.125786,Luxury,2,4,5,5,2,3,4,1,5,No,No,Sí,Sí,No
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,north_america,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,Luxury,3,5,5,2,3,3,4,2,4,Sí,Sí,Sí,No,No
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,north_america,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,Mid-range,5,3,3,1,3,4,3,4,2,Sí,Sí,Sí,No,No
4,e1ebc1b6-8798-422d-847a-22016faff3fd,Surabaya,Indonesia,asia,Bustling streets filled with the aroma of loca...,-7.245972,112.737827,Budget,4,3,3,2,3,4,3,4,2,Sí,Sí,No,No,No

In [22]:
df_viajes['region'] = df_viajes['region'].str.replace('_', ' ').str.title()

In [23]:
df_viajes.head()

,id,city,country,region,short_description,latitude,longitude,budget_level,culture,adventure,nature,beaches,nightlife,cuisine,wellness,urban,seclusion,weekend,short_trip,one_week,long_trip,day_trip
0,c54acf38-3029-496b-8c7a-8343ad82785c,Milan,Italy,Europe,"Chic streets lined with fashion boutiques, his...",45.464194,9.189635,Luxury,5,2,2,1,4,5,3,5,2,No,Sí,Sí,No,No
1,0bd12654-ed64-424e-a044-7bc574bcf078,Yasawa Islands,Fiji,Oceania,"Crystal-clear waters, secluded beaches, and vi...",-17.290947,177.125786,Luxury,2,4,5,5,2,3,4,1,5,No,No,Sí,Sí,No
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,North America,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,Luxury,3,5,5,2,3,3,4,2,4,Sí,Sí,Sí,No,No
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,North America,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,Mid-range,5,3,3,1,3,4,3,4,2,Sí,Sí,Sí,No,No
4,e1ebc1b6-8798-422d-847a-22016faff3fd,Surabaya,Indonesia,Asia,Bustling streets filled with the aroma of loca...,-7.245972,112.737827,Budget,4,3,3,2,3,4,3,4,2,Sí,Sí,No,No,No

In [26]:
df_viajes.to_csv("travel_info.csv",index=False)